# Funciones

In [9]:


print("Ya hemos visto un ejemplo de una llamada a función:")

print(" type(42)        -> ", type(42))
print(" type('Hola')    -> ", type("Hola"))
print(" El nombre de la función es type. La expresión en paréntesis se llama argumento de la función. El resultado, para esta función, es el tipo del argumento.")

print(" int('32')       -> ", int("32"))
print(" float('3.1416') -> ", float("3.1416"))
print(" str(32)         -> ", str(32))
print(" str(3.1416)     -> ", str(3.1416))

#print("int('Hola')", int('Hola'))  # Esto genera un error
print(" int('Hola')     -> El error se debe a que la cadena 'Hola' no puede convertirse en un número entero.")

print(" int(3.99999) -> ", int(3.99999))  # Esto trunca el valor decimal
print(" El valor decimal se trunca, no se redondea.")

print(" int(-2.3) -> ", int(-2.3))  # Esto trunca el valor decimal
print(" El valor decimal se trunca, no se redondea.")

print("float(32) -> ", float(32))  # Convierte un entero en un número de punto flotante
print(" El número entero se convierte en un número de punto flotante.")

print("float('3.14159') -> ", float("3.14159"))  # Convierte una cadena en un número de punto flotante
print(" La cadena se convierte en un número de punto flotante.")

print("str(32) -> ", str(32))  # Convierte un entero en una cadena
print(" El número entero se convierte en una cadena.") 

print("str(3.14159) -> ", str(3.14159))  # Convierte un número de punto flotante en una cadena
print(" El número de punto flotante se convierte en una cadena.")

Ya hemos visto un ejemplo de una llamada a función:
 type(42)        ->  <class 'int'>
 type('Hola')    ->  <class 'str'>
 El nombre de la función es type. La expresión en paréntesis se llama argumento de la función. El resultado, para esta función, es el tipo del argumento.
 int('32')       ->  32
 float('3.1416') ->  3.1416
 str(32)         ->  32
 str(3.1416)     ->  3.1416
 int('Hola')     -> El error se debe a que la cadena 'Hola' no puede convertirse en un número entero.
 int(3.99999) ->  3
 El valor decimal se trunca, no se redondea.
 int(-2.3) ->  -2
 El valor decimal se trunca, no se redondea.
float(32) ->  32.0
 El número entero se convierte en un número de punto flotante.
float('3.14159') ->  3.14159
 La cadena se convierte en un número de punto flotante.
str(32) ->  32
 El número entero se convierte en una cadena.
str(3.14159) ->  3.14159
 El número de punto flotante se convierte en una cadena.